* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;

  header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    & > * {
      width: 10%;
      flex-shrink: 0;
    }

    #nav-toggler-button {
      height: 50%;
    }

    .nav-main {
      border: 1px solid black;
      display: none;

      ul {
        list-style: none;
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 0.3rem;
        gap: 0.3rem;
      }
    }

    .toggle-display {
      display: block;
    }
  }

  main {
    background-color: gray;
    height: 90%;
    width: 100%;
    padding: 1rem;

    #image-carousel-container {
      height: 100%;
      width: 100%;
      background-color: rgb(37, 37, 37);
      padding: 1rem;
      display: flex;

      .arrow {
        width: 10%;
        height: 100%;
      }

      #left-arrow-button {
        background-color: lightcoral;
      }

      #images-and-circles-container {
        width: 90%;
        background-color: lightblue;
      }

      #right-arrow-button {
        background-color: lightgreen;
      }
    }
  }
}
